<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-element">


  <template is="dom-repeat" items="{{alumno}}" >
    <style>
      :host {
        display: block;

      }
      th,td{
        border: 1px solid black;
        width: 80px;

      }
      .aprobado{
        background-color: aqua;
      }
      .reprobado{
        background-color: lightcoral;
      }
      .panzo{
        background-color: lightgoldenrodyellow;
      }
    </style>

    
    <h2> [[prop1]]!</h2>

    <table>
      <tr>
        <th>NOMBRE</th>
        <th>CALIFICACION</th>
      </tr>

      <template is="dom-repeat" items="{{alumno}}" >
        <tr class$="[[color(item.calif)]]" >
          <td >[[item.nombre]]</td>
          <td >[[item.calif]]</td>
        </tr>
      </template>
    </table>


  </template>

     <!-- <template is="dom-repeat" items="[[alumnos]]">
        <template>
            <h2>Hola</h2>
          </template> -->



  <script>
    /**
     * `tabla-element`
     * Tabla de alumnos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaElement extends Polymer.Element {
      static get is() { return 'tabla-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Calificaciones Alumnos'
          },
          alumno:{
            type:Array,
            value: ()=> [{nombre: 'Pedro', calif: 10},{ nombre: 'Mariano', calif: 8},
             {nombre: 'Ivan', calif: 4}, {nombre: 'Lucero', calif: 7} ]},
          valorcito:{
            
          }
        };
      }
      color(a){  
        var a = a;
        
        if( a==6 || a==7 ){
          return 'panzo'; 
         }else if( a<=5 ){
           return 'reprobado';
         }else if( a > 7){
           return 'aprobado';
         }
        
      }
    }

    window.customElements.define(TablaElement.is, TablaElement);
  </script>
</dom-module>




